

 /* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-image: url('https://wallpaperaccess.com/full/922682.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
  background-image: url('https://wallpapercave.com/wp/wp6974333.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f1f4f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
} */

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.login-box {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
  text-align: center;
  font-weight: 600;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: 500;
  color: #555;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form-control:focus {
  border-color: #6c63ff;
  box-shadow: 0 0 0 0.2rem rgba(108, 99, 255, 0.25);
}

.btn-custom {
  background-color: #6c63ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #5c54e6;
}

.btn-block {
  display: block;
  width: 100%;
}

.mt-3 {
  margin-top: 1rem;
}

.text-center {
  text-align: center;
}

.mt-3 a {
  color: #6c63ff;
  text-decoration: none;
}

.mt-3 a:hover {
  text-decoration: underline;
}
