<!-- <div class="row">
    <div class="col-9">
      <div class="card">
        <div class="card-header bg-primary">
          <div class="row">
            <div class="col-6"> Orders </div>
            <div class="col-6 text-end">
              <div class="gap">
                <button class="btn btn-sm btn-info me-2" (click)="navigateToUserComponent()">Back to Book Store</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-list">
          <div *ngFor="let order of orders">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <p class="card-text">Order ID: {{ order.orderId }}</p>
                    <p class="card-text">Book Name: {{ order.bookName }}</p>
                    <p class="card-text">Quantity: {{ order.noOfBooks }}</p>
                    <p class="card-text">Total Price: {{ order.total_Price }}</p>
                    <p class="card-text">Order Date: {{ order.orderDate | date:'yyyy-MM-dd' }}</p>
                  </div>
                  <div class="col-6 text-end">
                    <button class="btn btn-sm btn-danger" (click)="cancelOrder(order.orderId)">Cancel Order</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->

   <!-- <div class="row">
    <div class="col-9">
      <div class="card">
        <div class="card-header bg-primary">
          <div class="row">
            <div class="col-6"> Orders </div>
            <div class="col-6 text-end">
              <div class="gap">
                <button class="btn btn-sm btn-info me-2" (click)="navigateToUserComponent()">Back to Book Store</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-list">
          <div *ngFor="let order of orders">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <p class="card-text">Order ID: {{ order.orderId }}</p>
                    <p class="card-text">Book Name: {{ order.bookName }}</p>
                    <p class="card-text">Quantity: {{ order.noOfBooks }}</p>
                    <p class="card-text">Total Price: {{ order.total_Price }}</p>
                    <p class="card-text">Order Date: {{ order.orderDate }}</p>
                    | date:'yyyy-MM-dd' 
                  </div>
                  <div class="col-6 text-end">
                    <button class="btn btn-sm btn-danger" (click)="cancelOrder(order.orderId)">Cancel Order</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  
  <!-- <div class="row">
    <div class="col-9">
      <div class="card">
        <div class="card-header bg-primary">
          <div class="row">
            <div class="col-6"> Orders </div>
            <div class="col-6 text-end">
              <div class="gap">
                <button class="btn btn-sm btn-info me-2" (click)="navigateToUserComponent()">Back to Book Store</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-list">
            <div *ngFor="let order of orders">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-6">
                      <p class="card-text">Order ID: {{ order.orderId }}</p>
                      <p class="card-text">Book Name: {{ order.bookName }}</p>
                      <p class="card-text">Quantity: {{ order.noOfBooks }}</p>
                      <p class="card-text">Total Price: {{ order.total_Price }}</p>
                      <p class="card-text">Order Date: {{ order.orderDate | date:'yyyy-MM-dd' }}</p>
                    </div>
                <div class="col-6 text-end">
                  <button class="btn btn-sm btn-danger" (click)="cancelOrder(order.orderId)">Cancel Order</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->


  <div class="row">
    <div class="col-9">
      <div class="card">
        <div class="card-header bg-primary">
          <div class="row">
            <div class="col-6"> Orders </div>
            <div class="col-6 text-end">
              <div class="gap">
                <button class="btn btn-sm btn-info me-2" (click)="navigateToUserComponent()">Back to Book Store</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-list">
          <div *ngFor="let order of orders">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <p class="card-text">Order ID: {{ order.orderId }}</p>
                    <p class="card-text">Book Name: {{ order.bookName }}</p>
                    <p class="card-text">Quantity: {{ order.noOfBooks }}</p>
                    <p class="card-text">Total Price: {{ order.total_Price }}</p>
                    <p class="card-text">Order Date: {{ order.orderDate }}</p>
                  </div>
                  <div class="col-6 text-end">
                    <button class="btn btn-sm btn-danger" (click)="cancelOrder(order.orderId)">Cancel Order</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  