


   <body>
    <div class="nav">
      <ul class="paragraph list" style="text-indent:0;">
        <div class="logo">
        <a routerLink="">
          <img src="https://www.pngitem.com/pimgs/m/175-1750354_story-icon-hd-png-download.png" alt="Book Logo" class="mr-2" style="height: 30px;">
          Boundless Pages</a>
          </div>

        <div class="content">
        <li routerLink=""> <a class="profiles"  target='_blank' rel='noopener'><i class="fa fa-soundcloud"></i>Home </a></li>
        <li routerLink="/Adminlogin"><a class="profiles"  target='_blank' rel='noopener'><i class="fa fa-github" ></i> Adminlogin</a></li>
        <li routerLink="/userlogin"><a class="profiles" target='_blank' rel='noopener'><i class="fa fa-instagram "></i> Userlogin</a></li>
        <li routerLink="/register"> <a class="profiles"  target='_blank' rel='noopener'><i class="fa fa-facebook"></i> Register</a></li>
        <li routerLink="/about"><a class="profiles"  target='_blank' rel='noopener'><i class="fa fa-linkedin"></i> About </a></li>
        </div>
        
      </ul>
  </div>
  </body>
